* {
    margin: 0;
    padding: 0;
    font-family: "Plus Jakarta Sans", sans-serif;
}

html {
    scroll-behavior: smooth;
}



.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url("images/bg.jpeg");
    background-position: center;
    background-size: cover;
    position: relative;
}

.header-main {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.8), rgba(4,9,30,0.8)), url("renders/r13.png");
    background-position: center;
    background-size: cover;
    position: relative;
}


.header-item {
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url("images/bg.jpeg");
    background-position: center;
    background-size: cover;
    position: relative;
    height: 400px;
}


nav {
    display:flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;    
}

nav img{
    width:110px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.nav-links ul li::after {
    content: ' ';
    width: 0%;
    height: 2px;
    background: #fff292;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.item-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.item-box h1{
    font-size: 62px;
}

.item-box h2{
    font-size: 18px;
}

.text-box p {
    font-size: 18px;
    margin: 10px 0 40px;  
    color: #fff;
    line-height: 1.5
    
}

.text-box h1 {
    font-size: 62px;
}

.item-box p {
    width: 100%;
    font-size: 16px;
    margin: 10px 0 40px;  
    color: #fff;
    font-weight: 200;
    text-align: center;
    line-height: 1.5
}

.hero-btn {
    display: inline-block;
    width: 100px;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    border-radius: 18px;
}

.item-btn {
    display: inline-block;
    text-decoration: none;
    color: #000000;
    border: 1px solid #000000;
    padding: 24px 68px;
    font-size: 22px;
    background: transparent;
    position: relative;
    cursor: pointer;
    border-radius: 34px;
}

.hero-btn:hover{
    border:1px solid #fff292;
    background: #fff292;
    transition: 1s;
}

.item-btn:hover{
    border:1px solid #fff292;
    background: #fff292;
    color: #ffffff;
    border: 0px solid;
    transition: 1s;
}


nav .bi {
    display: none;
}


.gallery {
    width: 90%;
    margin: auto;
    text-align: center;
    padding: 70px 0 100px 0;
}


h1 {
    font-size: 36px;
    font-weight: 600;
}

p {
    font-size: 16px; 
    color: #282828;
    font-weight: 600;
    line-height: 22px;
    padding: 10px;
    line-height: 1.5;
}

.text {
    text-align: center;
    padding: 20px;
}

.row {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    gap: 50px;
    margin-left: 8%; 

}


.gallery-col {
    background: #d5d5d5;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    transition: 0.5s;
    width: 350px;
    height: 300px;
    margin: 1px;
    
}

.web {
    background: #d5d5d5;
    border-radius: 10px;
    margin-bottom: 15%;
    padding: 20px;
    box-sizing: border-box;
    transition: 0.5s;
    width: 100%;
    position: relative;
    text-align: center;
}

.web-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;

    position: absolute;
    top: -70px;           /* Move half the image above the box */
    left: 15%;            /* Move to the left side */
    transform: translateX(-50%);

    box-shadow: 0 0 30px 0px rgba(6, 44, 83, 0.7);

    
}



.web:hover {
    box-shadow: 0 0 30px 0px rgba(6, 44, 83, 0.7);

}

.img-about {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;

    position: absolute;
    top: 200px;           
    right: 10%;          

    box-shadow: 0 0 30px 0px rgba(6, 44, 83, 0.7);

    
}


.gallery-col img{
    width: 100%;
    height: 185px;
    border-radius: 10px;
}


h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.gallery-col:hover {
    box-shadow: 0 0 30px 0px rgba(6, 44, 83, 0.7);

}




.footer {
    width: 100%;
    padding: 30px 0;
    background-color: black;
    text-align: center;
}

.footer h4 {
    margin-top: 20x;
    margin-bottom: 25;
    font-weight: 600;
    margin-left: 10px;
    color: white;
}

 .footer p {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 15px;
    color: white;
}

.footer-links {
    all: unset;
    cursor: pointer;
    display: inline-block; 
    color: white;
    flex: 1;
}

.footer-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.footer-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

.footer-links ul li::after {
    content: ' ';
    width: 0%;
    height: 2px;
    background: #fff292;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.footer-links ul li:hover::after {
    width: 100%;
}

hr.solid-line {
  border: none; 
  border-top: 5px solid #fff292;
  margin: 50px 0; 

}

.item-link {
    all: unset;
    cursor: pointer;
}


.item {
    
    width: 90%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    
}

.item p {
    font-size: 20px; 
    color: #3a3a3a;
    font-weight: 400;
    line-height: 22px;
    padding: 10px;
    line-height: 1.5;
    max-width: 900px;
    margin: 0 auto;
}

.colored-text {
    color: #5b6491;
}


.work {
    width: 90%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}


.work h1 {
    font-size: 36px;
    font-weight: 600;
}



.work p {
    font-size: 16px; 
    color: #282828;
    font-weight: 600;
    line-height: 22px;
    padding: 10px;
    line-height: 1.5;
}

.work ul {
    list-style-type: none 
}

.work li {
  padding: 10px;  
}


.image-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    width: 100%;
    gap: 10px;
    
}

.image-grid img {
    width: 100%;
    height: 300px;
    border-radius: 5px;
    display: block;
    object-fit: cover;
 
}

.icon-size {
    width: 200px;
    height: auto;
    margin-top: 20px;
}

model-viewer {
    width: 375px;
    height: 375px;
    border: 3px solid #9aaee6;
    border-radius: 25px;
    margin: 0px;
    transition: 0.5s;
    margin-left: 8%;
    margin-bottom: 10%;
}

model-viewer:hover {
    box-shadow: 0 0 30px 0px rgba(6, 44, 83, 0.7);
}

.copy-box {
    max-width: 700px;
    margin: 0 auto;
}

.copy-box p {
    max-width: 700px;
    margin: 0 auto;
    color: #3a3a3a;
}


.video-div {
    display: flex;
    gap: 20px; 
    align-items: center;
  
}

.video-div video {
    width: 50%;
    border-radius: 10px;
    overflow: hidden;
}

.video-div p {
    width: 50%;
    font-size: 20px; 
}

.video-div a {
    width: 50%;
}

.video-div iframe {
    width: 600px;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
}




/* https://css-tricks.com/seamless-responsive-photo-grid/ */

.images-about {
  /* Prevent vertical gaps */
  line-height: 0;
   
  -webkit-column-count: 5;
  -webkit-column-gap:   0px;
  -moz-column-count:    5;
  -moz-column-gap:      0px;
  column-count:         5;
  column-gap:           0px;  
}

.images-about img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}

.icons {
    color: white;
}

@media (max-width: 1200px) {
.images-about {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
.images-about {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
    .images-about {
    -moz-column-count:    2;
    -webkit-column-count: 2;
    column-count:         2;
    }

    .img-about {
        width: 200px; 
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
        position: absolute;
        top: 275px;           
        right: 10%;
        box-shadow: 0 0 30px 0px rgba(6, 44, 83, 0.7);
    }


    .row {
    display: grid;
    grid-template-columns: repeat(1, 350px);
    gap: 50px;
    margin-left: 0%; 
    }

    .web-img {
        width: 100px;
        height: 100px;
    }

    .image-grid {
    display: grid;
    grid-template-columns: repeat(1, minmax(200px, 1fr));
    width: 100%;
    gap: 10px;
    }


    .video-div {
        flex-direction: column;   /* stack vertically instead */
        align-items: flex-start; 
    }

    .video-div video,
    .video-div a,
    .video-div iframe,
    .video-div p {
        width: 100%; /* full width on mobile */
    }


    .video-div p {
        font-size: 18px;    
    }

    .nav-links {
    flex: 1;
    text-align: center;
    }

    .item-box h1{
    font-size: 40px;    
    }

    model-viewer {
    margin-left: 0%;
    }
}

    


@media (max-width: 400px) {
.images-about {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}


